<h1>All Available Products</h1>
{{#each model as |product|}}
  <li>
    {{#link-to 'product' product}}{{product.name}}{{/link-to}}
    <br>
    {{product.shortDescription}}
    <br>
    <img src={{product.img1}}>
  </li>
{{/each}}

{{outlet}}
